<!DOCTYPE html>
<html>
<head>
    <% include partials/template/head.ejs %>
</head>
<body ng-app="app" ng-controller="raceControler">
<% include partials/template/header.ejs %>
<div class="container-fluid">
    <h3><%= race.name %> <% if(race.privaicy !== 'public') {%><i class="fa fa-lock" aria-hidden="true"><%}%></i></h3>
    <h6>Created by <a href="https://www.strava.com/athletes/<%= race.ownerId%>" target="_blank"><%= race.ownerName %></a></h6>
    <h4>Start {{ race.startTime | date: 'short'}}</h4>
    <h4>End {{ race.endTime | date: 'short'}}</h4>
    <p><%= race.description %></p>
    <div class="well">
        <h4>Stages</h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Type</th>
            <th>Activity</th>
            <th>Dist.</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="stage in race.stages track by $index">
            <td tyle="vertical-align:center">{{$index + 1}}</td>
            <td tyle="vertical-align:center">{{stage.activity_type}}</td>
            <td tyle="vertical-align:center"><a ng-href="{{'https://www.strava.com/segments/' + stage.segmentId}}" target="_blank">{{stage.name}}</a></td>
            <td tyle="vertical-align:center">{{stage.distance/1000 | number : 2}}km</td>
        </tr>
        </tbody>
    </table>
        </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Sex</th>
            <th>Catagory</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="participant in participants">
            <td tyle="vertical-align:center">{{participant.name}}</td>
            <td tyle="vertical-align:center">{{participant.sex}}</td>
            <td tyle="vertical-align:center">{{participant.catagoryName}}</td>
        </tr>
        </tbody>
    </table>

    <%if(!race.isFinishted){%>
    <%if(race.privaicy == 'public' || race.friends.indexOf(athlete.id) !== -1 ){%>
        <%if(participants.findIndex(function(item){return item.athleteId === athlete.id;}) === -1 ){%>
            <button type="button" class="btn btn-default" ng-click="join()" style="margin-top: 20px">Join Race</button>
        <%}else{%>
            <button type="button" class="btn btn-default" ng-click="leave()" style="margin-top: 20px">Leave Race</button>
        <%}%>
    <%}%>
    <%}%>
    <%if(race.ownerId == athlete.id){%>
    <%if(!race.isFinishted){%>
        <button type="button" class="btn btn-default" ng-click="edit()" style="margin-top: 20px">Edit</button>
    <%}%>
    <button type="button" class="btn btn-default" ng-click="deleteRace()" style="margin-top: 20px">Delete</button>
    <%}%>
</div>
<% include partials/template/footer.ejs %>
<% include partials/template/jsdefaults.ejs %>
<script type="text/javascript" src="/javascripts/participant.js"></script>

<script type="text/javascript">

    var app = angular.module('app', []);
    app.controller('raceControler', function($scope, $http) {
        $scope.race = <%- JSON.stringify(race) %>;
        $scope.participants = <%- JSON.stringify(participants) %>;

        $scope.participants.forEach(function (item)
        {
            var index = $scope.race.categories.findIndex(function(category){
                return category.id === item.categoryId;
            });

            if(index !== -1)
            {
                item.catagoryName = $scope.race.categories[index].name;
            }
            else
            {
                item.catagoryName = "Unknown";
            }
        });

        <%if(race.privaicy == 'public' || race.friends.indexOf(athlete.id) !== -1 ){%>

        <%if(participants.findIndex(function(item){return item.athleteId === athlete.id;}) === -1 ){%>
        $scope.join = function () {
            var newParticipant = new participant.Participant(<%= athlete.id %>, $scope.race._id, $scope.race.categories[0].id);
            newParticipant.name = "<%= athlete.firstname %>" + " " + "<%= athlete.lastname %>";
            newParticipant.sex = "<%= athlete.sex %>";
            $http.put("/data/participant", newParticipant)
                    .then(function(response) {
                        if(response.data)
                        {
                            location.replace("/race/details/<%= race._id%>");
                        }
                    });
        };

        <%}else{%>
            $scope.leave = function () {
                $http.delete("/data/participant/<%= participants.find(function(item){return item.athleteId === athlete.id;})._id %>")
                        .then(function(response) {
                            if(response.data)
                            {
                                location.replace("/race/details/<%= race._id%>");
                            }
                        });
            };
        <%}%>
        <%}%>

        <%if(race.ownerId == athlete.id){%>
            $scope.edit = function () {
                location.replace("/race/edit/<%= race._id%>");
            };

            $scope.deleteRace = function () {
                $http.delete("/data/race/<%= race._id%>")
                        .then(function(response) {
                            if(response.data)
                            {
                                location.replace("/race/manage");
                            }
                        });
            };
        <%}%>
    });

</script>
</body>

</html>