<title><%=titleText%><%=appName%></title>
<meta property="og:url"                content="<%=url%>" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="<%=appName%>" />
<meta property="og:description"        content="Join and create activities based on Strava segments." />
<meta property="og:site_name"        content="<%=appName%>" />
<meta property="og:image" content="<%=url%>/images/bike.png" />

<meta property="fb:app_id"        content="<%=fbAppId%>" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://use.fontawesome.com/3a216218fd.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-7227594753056077",
        enable_page_level_ads: true
    });
</script>
