<div ng-controller="activityPannelControler<%= activity.doc._id%>">
<div ng-class="activity.value.participant.rank | rankToPannelType">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                <h4>
                    <img ng-src="{{activity.doc.activityType | activityTypeToIcon}}" height="24" width="24" data-toggle="tooltip" title="{{activity.doc.activityType | activityTypeToString}}"/>
                    <a href="/activity/details/<%= activity.doc._id%>"><%= activity.doc.name%></a></h4>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                <%if(activity.doc.state === 'upcoming'){%>
                    <h4 style="text-align: right; margin-bottom: 0px">{{ activity.doc.startsIn | secondsToCountdown}}</h4>
                    <h4 style="text-align: right; margin-top: 0px"><small>{{ activity.doc.startTime | date: 'short'}}</small></h4>
                <%} else{%>
                    <h4 style="text-align: right">
                    <%if(activity.doc.state === 'in_progress'){%>
                    {{ activity.doc.timeLeft | secondsToCountdown}}
                    <%}%>
                    <%if(activity.doc.state === 'finished'){%>
                    {{ activity.doc.startTime | date: 'shortDate'}}
                    <%}%>
                </h4>
                <%}%>
            </div>
        </div>
    <h4 class="rank">
        <%if(activity.doc.state === "upcoming" || (activity.doc.activityType != 'race' && activity.doc.activityType !== 'triathlon')){%>
                <%if(!activity.doc.routeId){%>
                {{activity.doc.totalDistance/1000 | number : 2}}km
                <%}else {%>
                {{activity.doc.routeDistance/1000 | number : 2}}km
                <%}%>

                <%if(activity.doc.stages.length !== 0){%>
                <small><%= activity.doc.stages.length %> Timed Stages</small>
                <%}%>
        <%}else{%>
            <%if(activity.value.participant.stagesComplete === activity.value.participant.results.length){ %>
                <% if(activity.value.participant.rank && activity.value.participant.rank<=3){%><i class="fa fa-trophy"></i> <%}%>Rank: <%= activity.value.participant.rank%>/<%= activity.value.participant.out_of%>
            <%}else{%>
                Stages: <%= activity.value.participant.stagesComplete%>/<%= activity.value.participant.results.length%>
            <%}%>
            <small>Total Time: {{activity.value.participant.time | secondsToTime }}</small>
        <%}%></h4>
</div>
</div>

<script type="text/javascript">

    $app.controller('activityPannelControler<%= activity.doc._id%>', function($scope) {
        $scope.activity = <%- JSON.stringify(activity) %>;
    });

</script>